<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.min.css' %}" />

<link rel="shortcut icon" href="{%  static 'home/favicon.ico' %}">
</head>
<body>
<div class="topcorner">
	<p><strong>Trent Reese</strong></p>
	<p><strong>Data Engineer at Pepper</strong></p>
	<p><strong>Berlin, Germany</strong></p>
</div>
<div class="hr">
<br />
<hr />
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

 <div class="book_display">
		{% block content %}
			{% for book in book_list %}
					<div style="height:12px;"><br></div>
					<p>{{ book.0 }}, {{ book.1 }}</p>
					<img src=" {{ book.2 }} " alt="Book Image">
			{% endfor %}
		{% endblock %}
		</div>
 <form action="" method="POST">
	  <div class="checkboxes">
	    <label for="id_cr"><input type="radio" name="radios" id="id_cr" value="id_cr" checked="checked"/> <span>Currently Reading</span></label>
	    <label for="id_r"><input type="radio" name="radios" id="id_r" value="id_r" /> <span>Read</span></label>
	  </div>
	<input type="submit" value="OK">
   </form>


</body>